In [20]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split


df = pd.read_csv('titanic_train.csv')


print(df.head())

   passenger_id  pclass                                               name  \
0          1216       3                                 Smyth, Miss. Julia
1           699       3                                    Cacic, Mr. Luka
2          1267       3  Van Impe, Mrs. Jean Baptiste (Rosalie Paula Go...
3           449       2              Hocking, Mrs. Elizabeth (Eliza Needs)
4           576       2                                    Veal, Mr. James

      sex   age  sibsp  parch  ticket     fare cabin embarked boat  body  \
0  female   NaN      0      0  335432   7.7333   NaN        Q   13   NaN
1    male  38.0      0      0  315089   8.6625   NaN        S  NaN   NaN
2  female  30.0      1      1  345773  24.1500   NaN        S  NaN   NaN
3  female  54.0      1      3   29105  23.0000   NaN        S    4   NaN
4    male  40.0      0      0   28221  13.0000   NaN        S  NaN   NaN

                  home.dest  survived
0                       NaN         1
1                   Croatia         0
2                       NaN         0
3      Cornwall / Akron, OH         1
4  Barre, Co Washington, VT         0

In [21]:
df

,passenger_id,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest,survived
0,1216,3,"Smyth, Miss. Julia",female,NaN,0,0,335432,7.7333,NaN,Q,13,NaN,NaN,1
1,699,3,"Cacic, Mr. Luka",male,38.0,0,0,315089,8.6625,NaN,S,NaN,NaN,Croatia,0
2,1267,3,"Van Impe, Mrs. Jean Baptiste (Rosalie Paula Go...",female,30.0,1,1,345773,24.1500,NaN,S,NaN,NaN,NaN,0
3,449,2,"Hocking, Mrs. Elizabeth (Eliza Needs)",female,54.0,1,3,29105,23.0000,NaN,S,4,NaN,"Cornwall / Akron, OH",1
4,576,2,"Veal, Mr. James",male,40.0,0,0,28221,13.0000,NaN,S,NaN,NaN,"Barre, Co Washington, VT",0
5,1083,3,"Olsen, Mr. Henry Margido",male,28.0,0,0,C 4001,22.5250,NaN,S,NaN,173.0,NaN,0
6,898,3,"Johnson, Mr. William Cahoone Jr",male,19.0,0,0,LINE,0.0000,NaN,S,NaN,NaN,NaN,0
7,560,2,"Sinkkonen, Miss. Anna",female,30.0,0,0,250648,13.0000,NaN,S,10,NaN,"Finland / Washington, DC",1
8,1079,3,"Ohman, Miss. Velin",female,22.0,0,0,347085,7.7750,NaN,S,C,NaN,NaN,1
9,908,3,"Jussila, Miss. Mari Aina",female,21.0,1,0,4137,9.8250,NaN,S,NaN,NaN,NaN,0
10,313,1,"Widener, Mr. Harry Elkins",male,27.0,0,2,113503,211.5000,C82,C,NaN,NaN,"Elkins Park, PA",0
11,43,1,"Bucknell, Mrs. William Robert (Emma Eliza Ward)",female,60.0,0,0,11813,76.2917,D15,C,8,NaN,"Philadelphia, PA",1
12,233,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C,7,NaN,"Mt Airy, Philadelphia, PA",1
13,446,2,"Hocking, Miss. Ellen ""Nellie""",female,20.0,2,1,29105,23.0000,NaN,S,4,NaN,"Cornwall / Akron, OH",1
14,602,3,"Abbott, Mr. Rossmore Edward",male,16.0,1,1,C.A. 2673,20.2500,NaN,S,NaN,190.0,"East Providence, RI",0
15,884,3,"Jensen, Mr. Niels Peder",male,48.0,0,0,350047,7.8542,NaN,S,NaN,NaN,NaN,0
16,497,2,"Maybery, Mr. Frank Hubert",male,40.0,0,0,239059,16.0000,NaN,S,NaN,NaN,"Weston-Super-Mare / Moose Jaw, SK",0
17,1003,3,"McCoy, Mr. Bernard",male,NaN,2,0,367226,23.2500,NaN,Q,16,NaN,NaN,1
18,36,1,"Bowerman, Miss. Elsie Edith",female,22.0,0,1,113505,55.0000,E33,S,6,NaN,"St Leonards-on-Sea, England Ohio",1
19,1088,3,"Olsson, Mr. Oscar Wilhelm",male,32.0,0,0,347079,7.7750,NaN,S,A,NaN,NaN,1
20,978,3,"Lulic, Mr. Nikola",male,27.0,0,0,315098,8.6625,NaN,S,15,NaN,NaN,1
21,1030,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q,NaN,NaN,NaN,0
22,438,2,"Herman, Miss. Kate",female,24.0,1,2,220845,65.0000,NaN,S,9,NaN,"Somerset / Bernardsville, NJ",1
23,766,3,"Delalic, Mr. Redjo",male,25.0,0,0,349250,7.8958,NaN,S,NaN,NaN,NaN,0
24,661,3,"Badman, Miss. Emily Louisa",female,18.0,0,0,A/4 31416,8.0500,NaN,S,C,NaN,"London Skanteales, NY",1
25,556,2,"Sharp, Mr. Percival James R",male,27.0,0,0,244358,26.0000,NaN,S,NaN,NaN,"Hornsey, England",0
26,1008,3,"McGowan, Miss. Katherine",female,35.0,0,0,9232,7.7500,NaN,Q,NaN,NaN,NaN,0
27,575,2,"Turpin, Mrs. William John Robert (Dorothy Ann ...",female,27.0,1,0,11668,21.0000,NaN,S,NaN,NaN,"Plymouth, England",0
28,775,3,"Doharr, Mr. Tannous",male,NaN,0,0,2686,7.2292,NaN,C,NaN,NaN,NaN,0
29,162,1,"Holverson, Mr. Alexander Oskar",male,42.0,1,0,113789,52.0000,NaN,S,NaN,38.0,"New York, NY",0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
820,1167,3,"Sadlier, Mr. Matthew",male,NaN,0,0,367655,7.7292,NaN,Q,NaN,NaN,NaN,0
821,1123,3,"Peter, Mrs. Catherine (Catherine Rizk)",female,NaN,0,2,2668,22.3583,NaN,C,D,NaN,NaN,1
822,754,3,"Davies, Mr. John Samuel",male,21.0,2,0,A/4 48871,24.1500,NaN,S,NaN,NaN,"West Bromwich, England Pontiac, MI",0
823,855,3,"Hassan, Mr. Houssein G N",male,11.0,0,0,2699,18.7875,NaN,C,NaN,NaN,NaN,0
824,1188,3,"Sandstrom, Mrs. Hjalmar (Agnes Charlotta Bengt...",female,24.0,0,2,PP 9549,16.7000,G6,S,13,NaN,NaN,1
825,693,3,"Buckley, Mr. Daniel",male,21.0,0,0,330920,7.8208,NaN,Q,13,NaN,"Kingwilliamstown, Co Cork, Ireland New York, NY",1
826,253,1,"Ryerson, Mrs. Arthur Larned (Emily Maria Borie)",female,48.0,1,3,PC 17608,262.3750,B57 B59 B63 B66,C,4,NaN,"Haverford, PA / Cooperstown, NY",1
827,892,3,"Johansson, Mr. Karl Johan",male,31.0,0,0,347063,7.7750,NaN,S,NaN,NaN,NaN,0
828,1245,3,"Thomson, Mr. Alexander Morrison",male,NaN,0,0,32302,8.0500,NaN,S,NaN,NaN,NaN,0
829,94,1,"Dodge, Master. Washington",male,4.0,0,2,33638,81.8583,A34,S,5,NaN,"San Francisco, CA",1
830,104,1,"Eustis, Miss. Elizabeth Mussey",female,54.0,1,0,36947,78.2667,D20,C,4,NaN,"Brookline, MA",1
831,217,1,"Nicholson, Mr. Arthur Ernest",male,64.0,0,0,693,26.0000,NaN,S,NaN,263.0,"Isle of Wight, England",0
832,306,1,"White, Mr. Percival Wayland",male,54.0,0,1,35281,77.2875,D26,S,NaN,NaN,"Brunswick, ME",0
833,487,2,"Lingane, Mr. John",male,61.0,0,0,235509,12.3500,NaN,Q,NaN,NaN,NaN,0
834,61,1,"Cavendish, Mrs. Tyrell William (Julia Florence...",female,76.0,1,0,19877,78.8500,C46,S,6,NaN,"Little Onn Hall, Staffs",1
835,345,2,"Berriman, Mr. William John",male,23.0,0,0,28425,13.0000,NaN,S,NaN,NaN,"St Ives, Cornwall / Calumet, MI",0
836,107,1,"Flegenheim, Mrs. Alfred (Antoinette)",female,NaN,0,0,PC 17598,31.6833,NaN,S,7,NaN,"New York, NY",1
837,102,1,"Earnshaw, Mrs. Boulton (Olive Potter)",female,23.0,0,1,11767,83.1583,C54,C,7,NaN,"Mt Airy, Philadelphia, PA",1
838,333,2,"Ball, Mrs. (Ada E Hall)",female,36.0,0,0,28551,13.0000,D,S,10,NaN,"Bristol, Avon / Jacksonville, FL",1
839,62,1,"Chaffee, Mr. Herbert Fuller",male,46.0,1,0,W.E.P. 5734,61.1750,E31,S,NaN,NaN,"Amenia, ND",0
840,1256,3,"Touma, Master. Georges Youssef",male,7.0,1,1,2650,15.2458,NaN,C,C,NaN,NaN,1
841,208,1,"Minahan, Mrs. William Edward (Lillian E Thorpe)",female,37.0,1,0,19928,90.0000,C78,Q,14,NaN,"Fond du Lac, WI",1
842,709,3,"Carr, Miss. Helen ""Ellen""",female,16.0,0,0,367231,7.7500,NaN,Q,16,NaN,"Co Longford, Ireland New York, NY",1
843,1288,3,"Wiklund, Mr. Jakob Alfred",male,18.0,1,0,3101267,6.4958,NaN,S,NaN,314.0,NaN,0
844,165,1,"Hoyt, Mr. Frederick Maxfield",male,38.0,1,0,19943,90.0000,C93,S,D,NaN,"New York, NY / Stamford CT",1
845,158,1,"Hipkins, Mr. William Edward",male,55.0,0,0,680,50.0000,C39,S,NaN,NaN,London / Birmingham,0
846,174,1,"Kent, Mr. Edward Austin",male,58.0,0,0,11771,29.7000,B37,C,NaN,258.0,"Buffalo, NY",0
847,467,2,"Kantor, Mrs. Sinai (Miriam Sternin)",female,24.0,1,0,244367,26.0000,NaN,S,12,NaN,"Moscow / Bronx, NY",1
848,1112,3,"Peacock, Miss. Treasteall",female,3.0,1,1,SOTON/O.Q. 3101315,13.7750,NaN,S,NaN,NaN,NaN,0
849,425,2,"Greenberg, Mr. Samuel",male,52.0,0,0,250647,13.0000,NaN,S,NaN,19.0,"Bronx, NY",0

In [22]:
from sklearn import preprocessing

dfTest=pd.DataFrame(df)

count=df.isnull().sum()

In [23]:
count

passenger_id      0
pclass            0
name              0
sex               0
age             174
sibsp             0
parch             0
ticket            0
fare              1
cabin           659
embarked          1
boat            542
body            777
home.dest       386
survived          0
dtype: int64

In [55]:

from sklearn.preprocessing import LabelEncoder, StandardScaler


titanic_df.fillna(titanic_df.mean(), inplace=True)


encoder = LabelEncoder()
titanic_df['sex'] = encoder.fit_transform(titanic_df['sex'])
titanic_df['embarked'] = encoder.fit_transform(titanic_df['embarked'].fillna('Unknown'))


scaler = StandardScaler()
numerical_features = ['age', 'fare', 'pclass', 'sibsp', 'parch']
titanic_df[numerical_features] = scaler.fit_transform(titanic_df[numerical_features])

In [56]:
num_missing_age = df['age'].isna().sum()


print("Number of NaN values in 'Age':", num_missing_age)

Number of NaN values in 'Age': 0

In [57]:
num_non_null_age = df['age'].notna().sum()


print("Number of non-null values in 'Age':", num_non_null_age)

Number of non-null values in 'Age': 850

In [58]:
num_missing_body = df['body'].isna().sum()


print("Number of NaN values in 'Body':", num_missing_body)

Number of NaN values in 'Body': 0

In [59]:
num_non_null_body = df['body'].notna().sum()


print("Number of non-null values in 'body':", num_non_null_body)

Number of non-null values in 'body': 850

In [60]:
from sklearn.model_selection import train_test_split


X = titanic_df.drop('survived', axis=1)
y = titanic_df['survived']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)


print("Training set shape:", X_train.shape, y_train.shape)
print("Test set shape:", X_test.shape, y_test.shape)

Training set shape: (680, 14) (680,)
Test set shape: (170, 14) (170,)

In [61]:
mean_age = df['age'].mean()
df['age'].replace(np.nan, mean_age, inplace=True)


non_numeric_cols = df.select_dtypes(include=['object']).columns

In [62]:

df.drop(df[df['embarked'] == 'Lower Clapton, Middlesex or Erdington, Birmingham'].index, inplace=True)


one_hot_embarked = pd.get_dummies(df['home.dest'], prefix='home.dest')
df = pd.concat([df, one_hot_embarked], axis=1)

In [63]:
from sklearn.neural_network import MLPClassifier

mlp = MLPClassifier(hidden_layer_sizes=(100, 100), max_iter=500, random_state=42)

mlp.fit(X_train, y_train)

ValueError: could not convert string to float: 'Lower Clapton, Middlesex or Erdington, Birmingham'

In [64]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score


y_pred = mlp.predict(X_test)


accuracy = accuracy_score(y_test, y_pred)
precision = precision_score(y_test, y_pred)
recall = recall_score(y_test, y_pred)
f1 = f1_score(y_test, y_pred)


print('Accuracy: {:.4f}'.format(accuracy))
print('Precision: {:.4f}'.format(precision))
print('Recall: {:.4f}'.format(recall))
print('F1-score: {:.4f}'.format(f1))

ValueError: could not convert string to float: 'Taalintehdas, Finland Hoboken, NJ'

In [65]:
from sklearn.model_selection import GridSearchCV

param_grid = {
    'hidden_layer_sizes': [(10,), (50,), (100,), (50, 50), (100, 100)],
    'activation': ['relu', 'tanh'],
    'solver': ['sgd', 'adam'],
    'learning_rate_init': [0.001, 0.01, 0.1],
}


mlp = MLPClassifier(max_iter=1000)
grid_search = GridSearchCV(mlp, param_grid, cv=5)
grid_search.fit(X_train, y_train)


print(grid_search.best_params_)

/home/iabubakkar11/anaconda3/lib/python3.7/site-packages/sklearn/model_selection/_validation.py:372: FitFailedWarning:
300 fits failed out of a total of 300.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
240 fits failed with the following error:
Traceback (most recent call last):
  File "/home/iabubakkar11/anaconda3/lib/python3.7/site-packages/sklearn/model_selection/_validation.py", line 680, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "/home/iabubakkar11/anaconda3/lib/python3.7/site-packages/sklearn/neural_network/_multilayer_perceptron.py", line 752, in fit
    return self._fit(X, y, incremental=False)
  File "/home/iabubakkar11/anaconda3/lib/python3.7/site-packages/sklearn/neural_network/_multilayer_perceptron.py", line 393, in _fit
    X, y = self._validate_input(X, y, incremental, reset=first_pass)
  File "/home/iabubakkar11/anaconda3/lib/python3.7/site-packages/sklearn/neural_network/_multilayer_perceptron.py", line 1106, in _validate_input
    reset=reset,
  File "/home/iabubakkar11/anaconda3/lib/python3.7/site-packages/sklearn/base.py", line 581, in _validate_data
    X, y = check_X_y(X, y, **check_params)
  File "/home/iabubakkar11/anaconda3/lib/python3.7/site-packages/sklearn/utils/validation.py", line 976, in check_X_y
    estimator=estimator,
  File "/home/iabubakkar11/anaconda3/lib/python3.7/site-packages/sklearn/utils/validation.py", line 746, in check_array
    array = np.asarray(array, order=order, dtype=dtype)
  File "/home/iabubakkar11/anaconda3/lib/python3.7/site-packages/numpy/core/numeric.py", line 501, in asarray
    return array(a, dtype, copy=False, order=order)
ValueError: could not convert string to float: 'Lower Clapton, Middlesex or Erdington, Birmingham'

--------------------------------------------------------------------------------
60 fits failed with the following error:
Traceback (most recent call last):
  File "/home/iabubakkar11/anaconda3/lib/python3.7/site-packages/sklearn/model_selection/_validation.py", line 680, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "/home/iabubakkar11/anaconda3/lib/python3.7/site-packages/sklearn/neural_network/_multilayer_perceptron.py", line 752, in fit
    return self._fit(X, y, incremental=False)
  File "/home/iabubakkar11/anaconda3/lib/python3.7/site-packages/sklearn/neural_network/_multilayer_perceptron.py", line 393, in _fit
    X, y = self._validate_input(X, y, incremental, reset=first_pass)
  File "/home/iabubakkar11/anaconda3/lib/python3.7/site-packages/sklearn/neural_network/_multilayer_perceptron.py", line 1106, in _validate_input
    reset=reset,
  File "/home/iabubakkar11/anaconda3/lib/python3.7/site-packages/sklearn/base.py", line 581, in _validate_data
    X, y = check_X_y(X, y, **check_params)
  File "/home/iabubakkar11/anaconda3/lib/python3.7/site-packages/sklearn/utils/validation.py", line 976, in check_X_y
    estimator=estimator,
  File "/home/iabubakkar11/anaconda3/lib/python3.7/site-packages/sklearn/utils/validation.py", line 746, in check_array
    array = np.asarray(array, order=order, dtype=dtype)
  File "/home/iabubakkar11/anaconda3/lib/python3.7/site-packages/numpy/core/numeric.py", line 501, in asarray
    return array(a, dtype, copy=False, order=order)
ValueError: could not convert string to float: 'London'

  warnings.warn(some_fits_failed_message, FitFailedWarning)
/home/iabubakkar11/anaconda3/lib/python3.7/site-packages/sklearn/model_selection/_search.py:972: UserWarning: One or more of the test scores are non-finite: [nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan
 nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan
 nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan
 nan nan nan nan nan nan]
  category=UserWarning,

ValueError: could not convert string to float: 'Lower Clapton, Middlesex or Erdington, Birmingham'

In [66]:

y_pred_ft = grid_search.predict(X_test)
accuracy_ft = accuracy_score(y_test, y_pred_ft)
precision_ft = precision_score(y_test, y_pred_ft)
recall_ft = recall_score(y_test, y_pred_ft)
f1_score_ft = f1_score(y_test, y_pred_ft)

print("Initial MLP classifier:")
print("Accuracy: {:.2f}, Precision: {:.2f}, Recall: {:.2f}, F1-score: {:.2f}"
      .format(accuracy, precision, recall, f1_score))
print("Fine-tuned MLP classifier:")
print("Accuracy: {:.2f}, Precision: {:.2f}, Recall: {:.2f}, F1-score: {:.2f}"
      .format(accuracy_ft, precision_ft, recall_ft, f1_score_ft))

ValueError: could not convert string to float: 'Taalintehdas, Finland Hoboken, NJ'